body {
    font-family: Arial, sans-serif;
    background-color: rgba(255, 255, 255, 0.0);
}

#map {
    border: 2px solid #333;
    border-radius: 10px;
    height: 98vh; /* Vollbildhöhe */
    width: 100%;
    z-index: 10;
}

.leaflet-marker-icon {
    background-color: rgba(0, 0, 0, 0.4); /* Halbtransparenter schwarzer Hintergrund */
    padding: 5px; /* Abstand zwischen dem Logo und dem Rand */
    border: 2px solid #3399ff;
    border-radius: 50%; /* Runde Form für die Icons */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3); /* Schatten für Tiefe */
    object-fit: contain;
}

/* Festival Icons */
.leaflet-marker-icon:hover {
    transform: scale(1.2); /* Vergrößert das Logo */
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5) !important;
}


.leaflet-popup-content {
    font-family: Arial, sans-serif; /* Schriftart für Popup */
    font-size: 14px; /* Schriftgröße */
    color: #333; /* Textfarbe */
}

.leaflet-popup {
    border: 2px solid #ff6600;
    border-radius: 8px;
    background-color: #f9f9f9;
}

/* Sidebar */

#festival-sidebar {
    position: fixed;
    top: 20px; /* Höhe der Sidebar */
    right: 20px;
    bottom: 20px;
    width: 320px;
    background-color: rgba(255, 255, 255, 0.0);
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    max-height: 90vh;
    overflow-y: auto;
    backdrop-filter: blur(20px);
}

#festival-sidebar img {
    width: auto; /* Beibehaltung des Seitenverhältnisses */
    max-width: 100%; /* Maximale Breite */
    height: auto; /* Keine Verzerrung */
    margin-bottom: 20px; /* Abstand unter dem Bild */
    display: block;
    margin-left: auto;
    margin-right: auto;
    /*background-color: rgba(0, 123, 255, 0.3); /* Leicht blauer Hintergrund */
    padding: 10px; /* Abstand zwischen Bild und Hintergrund */
    border-radius: 10px; /* Abgerundete Ecken */
}



#festival-sidebar h3 {
    font-family: 'Poppins', sans-serif;
    font-size: 26px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 15px;
    color: #333;
}


/* Container für Location und Tickets */
.info-container {
    display: flex; /* Flexbox aktivieren */
    align-items: center; /* Vertikal zentrieren */
    justify-content: center; /* Horizontal zentrieren */
    gap: 20px; /* Abstand zwischen Location und Button */
    margin-top: 10px; /* Abstand zum Titel */
}

#festival-location {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #555;
    margin: 0; /* Entfernt Standardabstand */
    line-height: 1.0;
    display: flex;
    align-items: center; /* Vertikale Zentrierung */
}


#festival-tickets {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007BFF; /* Primäre Farbe */
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    border-radius: 25px; /* Abgerundete Ecken */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Schatten */
    transition: all 0.3s ease; /* Weicher Übergang */
    text-align: center;
    white-space: nowrap; /* Verhindert den Zeilenumbruch */
    flex-shrink: 0; /* Verhindert, dass der Button schrumpft */
}

#festival-tickets:hover {
    background-color: #0056b3; /* Dunkleres Blau bei Hover */
    color: #fff; /* Textfarbe bleibt weiß */
    transform: translateY(-2px); /* Leichtes Anheben */
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.3); /* Verstärkter Schatten */
    text-decoration: underline; /* Leichte Betonung durch Unterstreichen */
}



/* Styling für die Bandliste */
#festival-bands {
    list-style: none; /* Entfernt die Standard-Punkte der Liste */
    padding: 0;
    margin: 20px 0; /* Abstand zur Kalenderkomponente */
    display: flex;
    flex-direction: column;
    gap: 8px; /* Abstand zwischen den Einträgen */
    align-items: center; /* Zentriert die Liste horizontal */
}

#festival-bands li {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #333;
    background-color: #f9f9f9; /* Heller Hintergrund */
    padding: 8px 15px;
    border-radius: 10px; /* Abgerundete Ecken */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Leichter Schatten */
    transition: all 0.3s ease; /* Weicher Übergang */
    width: 80%; /* Festgelegte Breite */
    text-align: center; /* Zentriert den Text */
}

#festival-bands li:hover {
    background-color: #007BFF; /* Hover-Hintergrundfarbe */
    color: #fff; /* Textfarbe bei Hover */
    transform: scale(1.05); /* Leichte Vergrößerung */
    cursor: pointer; /* Zeigeränderung bei Hover */
}


#festival-sidebar ul {
    list-style: none;
    padding: 0;
}

#festival-sidebar ul li {
    margin-bottom: 5px;
}

.highlight-range {
    background-color: #3399ff !important; /* Blau für hervorgehobene Tage */
    color: white !important;
    border-radius: 5px;
}

#festival-calendar {
    width: 100%;
    margin-top: 20px;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 30px;  /* Größerer Text für das Kreuz */
    background: none;  /* Kein Hintergrund */
    border: none;  /* Kein Rand */
    color: #333;  /* Dunkelgraue Farbe */
    cursor: pointer;  /* Zeigt den Mauszeiger als Zeiger an */
    padding: 0;  /* Kein innerer Abstand */
    font-family: 'Arial', sans-serif;  /* Schriftart für das Kreuz */
}

.close-btn:hover {
    color: #555;  /* Helleres Grau bei Hover */
}


/* Ueberschreibungen von flatpickr.css */
.flatpickr-day.inRange {
    border-radius: 0 !important; /* Keine Abrundungen in der Mitte */
    margin: 0 !important; /* Entfernt unerwünschte Abstände */
    padding: 0 !important; /* Sicherstellen, dass kein zusätzliches Padding existiert */
    background: #3399ff !important; /* Einheitliche Hintergrundfarbe */
    color: white !important; /* Einheitliche Schriftfarbe */
    box-shadow: -5px 0 0 #3399ff, 5px 0 0 #3399ff; /* Zwischenräume der Tage*/
    display: flex; /* Erlaubt Flexbox-Alignment */
    justify-content: center;
    align-items: center;
}

.flatpickr-day.startRange {
    border-radius: 50% 0 0 50% !important; /* Abrundung links */
    margin: 0 !important;
    background: #3399ff !important;
    color: white !important;
}

.flatpickr-day.endRange {
    border-radius: 0 50% 50% 0 !important; /* Abrundung rechts */
    margin: 0 !important;
    background: #3399ff !important;
    color: white !important;
}

.flatpickr-day {
    box-sizing: border-box; /* Stelle sicher, dass Padding und Border innerhalb der Breite gezählt werden */
    margin: 0; /* Keine Abstände */
    padding: 0;
    border: none; /* Keine Ränder */
    text-align: center;
}

.flatpickr-day:not(.inRange):not(.startRange):not(.endRange) {
    background: none !important; /* Hintergrund für nicht ausgewählte Tage */
}

.flatpickr-day.endRange {
    border-radius: 0 50% 50% 0 !important; /* Abrundung nur rechts */
    margin: 0 !important; /* Entferne Abstand */
    background: #3399ff !important; /* Gleiche Farbe */
    color: white !important;
}

.flatpickr-day:not(.startRange):not(.endRange).inRange {
    border-radius: 0 !important; /* Keine Abrundung in der Mitte */
}

.flatpickr-day.flatpickr-disabled,
.flatpickr-day.flatpickr-disabled:hover {
  cursor: not-allowed;
  color: rgba(57,57,57,1.0);
}

  /* Popup-Container und Bandliste bei der Suche */
.hidden {
    display: none;
  }

#band-popup {
    position: absolute;
    background: white;
    border: 2px solid #0073e6;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    padding: 3px;
    z-index: 1000;
    width: 300px;
    font-family: 'Poppins', sans-serif;
}

/* Popup-Bandname */
#popup-band-name {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
    text-align: center;
    color: #333;
}

/* Festival-Liste im Popup */
#popup-festivals {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
}

/* Einzelne Festival-Elemente */
.popup-festival-item {
    text-align: center;
    width: 80px;
}


/* Festival-Logos */
.popup-festival-logo {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #3399ff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3); /* Schatten für Tiefe */
    margin-bottom: 0px;
    transition: transform 0.3s;
    background-color: rgba(0, 0, 0, 0.4); /* Halbtransparenter schwarzer Hintergrund */
    padding: 5px; /* Abstand zwischen dem Logo und dem Rand */
    object-fit: contain;
}

.popup-festival-logo:hover {
    transform: scale(1.1);   
}

/* Festival-Name */
.popup-festival-name {
    font-size: 12px;
    color: #555;
    word-wrap: break-word;
    line-height: 1.2;
}


/* Ueberschrift */

#festival-title {
    position: absolute;
    top: 1px;
    left: 250px;
    transform: translateX(-50%);
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    z-index: 100; /* Höher als die Karte */
}

#search-container {
    position: absolute;
    top: 70px;
    left: 180px;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    max-width: 400px;
    z-index: 100; /* Höher als die Karte */
}

#search-input {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 2px solid #ddd;
    border-radius: 25px;
    outline: none;
    transition: all 0.3s ease-in-out;
}

#search-input:focus {
    border-color: #007bff;
    box-shadow: 0 0 10px rgba(0, 123, 255, 0.2);
}

/*Bandliste beim Suchfeld*/


#band-list {
    position: absolute;
    top: calc(30px); /* Direkt unter dem Suchfeld */
    left: 68%;
    transform: translateX(-50%);
    max-height: 200px; /* Höhe der Box */
    overflow-y: auto; /* Scrollen bei Überlauf */
    background-color: white; /* Hintergrundfarbe der Liste */
    border: 1px solid #ddd; /* Rahmen für die Liste */
    border-radius: 5px; /* Abgerundete Ecken */
    z-index: 100; /* Höher als die Karte */
    width: 130%; /* Breite der Liste anpassen */
    padding: 5px; /* Padding für eine bessere Darstellung */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Schatten für einen 3D-Effekt */
    display: none;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.0);
    backdrop-filter: blur(20px);
}

#band-list ul {
    flex-grow: 1;
    overflow-y: auto;
    max-height: 160px; /* Damit der Button sichtbar bleibt */
    padding: 0;
    margin: 0;
    list-style: none;
}

#band-list li:hover {
    background-color: #f0f0f0; /* Hintergrundfarbe bei Hover */
}

#band-list li {
    display: flex;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    gap: 8px;
    padding: 8px;
    cursor: pointer;
}

#band-list li.checked {
    font-weight: bold;
}

/* Fixierter Button am unteren Rand der Liste */
#confirm-button {
    width: 100%;
    padding: 10px;
    background-color: #ccc; /* Standard: Grau, deaktiviert */
    color: white;
    border: none;
    border-top: 1px solid #ddd;
    border-radius: 0 0 5px 5px;
    cursor: not-allowed;
    font-size: 16px;
    position: sticky;
    bottom: 0;
}

#confirm-button.active {
    background-color: #007bff; /* Blau, wenn aktiv */
    cursor: pointer;
}

/* Leaflet Zoom Icon */

.leaflet-left .leaflet-control {
    margin-left: 12px;
}

.leaflet-top .leaflet-control {
    margin-top: 25px;
}

.leaflet-touch .leaflet-control-layers, .leaflet-touch .leaflet-bar {
    border: 2px solid rgba(0, 0, 0, 0.2);
    background-clip: padding-box;
}

/* Marker auf der Karte */
#marker {
    display: flex;
    align-items: center;
    position: absolute;
    gap: 5px;
    top: 60px; /* Abstand von oben */
    left: 300px; /* Abstand von links */
    z-index: 4000; /* Damit es über der Karte angezeigt wird */
    padding: 10px; /* Optional: Abstand */
    border-radius: 5px; /* Optional: Abgerundete Ecken */
}

#range-input {
    width: 30%;
    padding: 10px;
    font-size: 1rem;
    border: 2px solid #ddd;
    border-radius: 25px;
    outline: none;
    transition: all 0.3s ease-in-out;
}

#marker-button {
    position: relative;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    width: 40px;
    height: 40px;
}

#marker-button img {
    width: 100%;
    height: auto;
}

#remove-marker {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: red;
    font-size: 20px;
    font-weight: bold;
    display: none;
    cursor: pointer;
}

#remove-marker:hover {
    color: darkred;
}

