body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

#map {
    border: 2px solid #333;
    border-radius: 10px;
    height: 100vh; /* Vollbildhöhe */
    width: 100%;
}

.leaflet-marker-icon {
    background-color: rgba(0, 0, 0, 0.4); /* Halbtransparenter schwarzer Hintergrund */
    padding: 5px; /* Abstand zwischen dem Logo und dem Rand */
    border: 2px solid #3399ff;
    border-radius: 50%; /* Runde Form für die Icons */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3); /* Schatten für Tiefe */
    object-fit: contain;
}

.leaflet-popup-content {
    font-family: Arial, sans-serif; /* Schriftart für Popup */
    font-size: 14px; /* Schriftgröße */
    color: #333; /* Textfarbe */
}

.leaflet-popup {
    border: 2px solid #ff6600;
    border-radius: 8px;
    background-color: #f9f9f9;
}

.leaflet-marker-icon:hover {
    transform: scale(1.2); /* Vergrößert das Logo */
    box-shadow: 0 0 15px rgba(0, 0, 255, 0.5); /* Fügt einen blauen Schatten hinzu */
}

#festival-sidebar {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 300px;
    background-color: white;
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    max-height: 90vh;
    overflow-y: auto;
}

#festival-sidebar img {
    width: auto; /* Beibehaltung des Seitenverhältnisses */
    max-width: 100%; /* Maximale Breite */
    height: auto; /* Keine Verzerrung */
    margin-bottom: 20px; /* Abstand unter dem Bild */
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(0, 123, 255, 0.3); /* Leicht blauer Hintergrund */
    padding: 10px; /* Abstand zwischen Bild und Hintergrund */
    border-radius: 10px; /* Abgerundete Ecken */
}



#festival-sidebar h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

#festival-sidebar ul {
    list-style: none;
    padding: 0;
}

#festival-sidebar ul li {
    margin-bottom: 5px;
}
